body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

.dynamic-delete-button {
  position: relative;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-form-item-control-input-content {
  display: flex;
  gap: 16px;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-upload-wrapper
  .ant-upload-drag {
  height: auto !important;
}

.container {
  overflow: hidden;
}

.genre {
  border: 1px solid #333;
  background-color: #333;
  width: 40%;
  color: #ddd;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0.7;
}

.movie {
  position: relative;
}

.genre span {
  margin-right: 5px;
}

.title {
  text-align: center;
}

.all-movies {
  display: flex;
  gap: 20px;
}

.title {
  text-align: center;
}

.title-img {
  display: flex;justify-content: center;
}

.information-block {
  text-align: center;
}

.rating {
  text-align: center;
  margin-top: 40px;
}

.rating-users {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.dislikes-rating {
  margin-left: 50px;
}

.icon-like,
.icon-dislike {
  color: #777;
  font-size: 20px;
  cursor: pointer;
}

.icon-like:hover,
.icon-dislike:hover{
  color: black;
}

.mainMenu{
  display: flex;
  justify-content: center;;
  gap: 20px;
  padding: 20px 0;
}

.movie .price{
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  transform: translateY(100%);
  transition: all 0.5s;
}

.price{
  text-align: center;
  font-weight: 700;
}

.movie:hover .price{
 transform: translateY(0);
}

.currency{
  display: flex;
  gap: 20px;
}

.currency>div{
  cursor: pointer;
}

.currency .active{
  color: red;
}


