body{
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

*{
    box-sizing: border-box;
}

.dynamic-delete-button {
  position: relative;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-form-item-control-input-content{
    display: flex;
    gap: 16px;
}